<div class="mausritter" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
    {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <div class="showinfo"></div>
    <div class="showlessinfo"></div>

    <div class="rollcontainer">
        {{#if onlyDesc}}
        <div class="flexrow" style="height: 46px;">
            <div class="rollweaponh1">{{item.name}}
            </div>
            <img class="roll-image" src="{{item.img}}" title="{{item.name}}" />
        </div>
        {{#if pip}}
        {{{pip}}}
        {{/if}}
        <div class="description">
            <div class="body">{{{item.system.description}}}</div>
        </div>
        {{else}}
        {{#if isWeapon}} 
        <div class="flexrow" style="height: 46px;">
            <div class="rollweaponh1">{{item.name}}
            </div>
            <img class="roll-image" src="{{item.img}}" title="{{item.name}}" />
        </div>
        {{#if pip}}
        {{{pip}}}
        {{/if}}
        {{else}}
        <div class="rollh1">{{stat.name}}</div>
        {{/if}}

        {{#if advantage}}
        <div class="rollh2">{{localize "Maus.RollAD"}}</div>
        {{else}}
        {{#unless isWeapon}}
        <div class="rollh2">{{data.resultText.value}}</div>
        {{/unless}}
        {{/if}}
        {{#unless isWeapon}}
        <div class="roll-grid">
            {{#if advantage}}
            <div class="roll-result">{{data.diceTotal.value}} / {{data.diceTotal.advantageValue}}</div>
            {{else}}
            <div class="roll-result">{{data.diceTotal.value}}</div>
            {{/if}}
        </div>
        <div class="roll-target">
            <div class="valuetext">{{localize "Maus.RollTarget"}}:</div>
            <div class="roll-targetbox">
                <div class="value">{{targetValue}}</div>
            </div>
        </div>
        <div class="rollmods">
            <div class="valuetext">{{stat.name}} ({{this.target}})</div>
        </div>
        {{/unless}}
            <!-- Damage Roll -->
            {{#if isWeapon}}
            <div class="roll-damage">{{rollTitle}}</div>
            <div>
                <div class="roll-damagebox">
                    <div class="value">{{rollText}}</div>
                </div>
            </div>
            <div class="rollmods" style="margin-top: 0px;">{{weaponState}} ({{#if isSpell}}{{data.rollDiv}}{{else}}{{damageDice}}{{/if}})</div>

                {{#if item.system.description}}
                <div class="description">
                    <div class="header" style="font-size: 1.3em;">{{localize "Maus.RollDescription"}}</div>
                    <div class="body">{{{item.system.description}}}</div>
                </div>
                {{/if}}
            {{/if}}

        {{/if}}
    </div>