<fieldset>
    <legend>Choose what you want to generate automatically:</legend>
    <div><input type="checkbox" id="stats" name="stats" checked> <label for="stats">Basic stats</label></div>
    <div><input type="checkbox" id="background" name="background" checked> <label for="background">HP + Pipes +
        Background</label></div>
    <div><input type="checkbox" id="details" name="details" checked> <label for="details">Sign + Coat + Look</label>
    </div>
    <div><input type="checkbox" id="items" name="items" checked> <label for="items">Starting items</label></div>
</fieldset>