<div>
    <br>
    <label for="weapons">Choose a weapon:</label>
    <select name="weapons" id="weapons">
        <option value="axe">Axe [medium]</option>
        <option value="bow">Bow [heavy ranged]</option>
        <option value="cleaver">Cleaver [light]</option>
        <option value="dagger">Dagger [light]</option>
        <option value="hammer">Hammer [medium]</option>
        <option value="hookarm">Hookarm [heavy]</option>
        <option value="mace">Mace [medium]</option>
        <option value="needle">Needle [light]</option>
        <option value="pick">Pick [medium]</option>
        <option value="sling">Sling [light ranged]</option>
        <option value="spear">Spear [heavy]</option>
        <option value="sword">Sword [medium]</option>
        <option value="warhammer">Warhammer [heavy]</option>
    </select>
    <br>
    <br>
    <br>
</div>

